<h2>new Author</h2>
<form action='/authors' method='POST'>
<%- include('_form_fields') %>  
<a href='/authors'>Cancel</a> <!--inker tage to link to other  -->
<button type='submit'>Create</button> <!--  button to interact-->
</form>